# ./obsidian 配置
## 排除目录下所有内容
.obsidian/plugins/*
## 排除文件
.obsidian/community-plugins.json
.obsidian/workspace.json
.obsidian/graph.json
## 单独保留某个文件
# !.obsidian/app.json
# !.obsidian/appearance.json
# !.obsidian/core-plugins.json